{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container-fluid">
    <div  style="background-color:#1baab4; padding-bottom: 130px; padding-top: 130px;" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"> 
                        <a href="/"><img src="https://cdn-images-1.medium.com/max/720/1*el6QLjOh4tvvG9O-wN-h2A@2x.png" height="70px"> </a>
                    </div>
                    <div style="color:black; background-image: url(https://cdn-images-1.medium.com/max/720/1*el6QLjOh4tvvG9O-wN-h2A@2x.png);" class="col-md-8">

                        {{ wtf.quick_form(comment_form) }}

                    </div>
                    <div class="col-md-2">
                    
                    </div>
                    
                </div>
                <br>
                <br>            
                <div style="width: 300px;" class="container">
                    {% for comment in comment%}
                    <div class="card">
                        <div class="card-title">
                            Comment {{ comment.username }}
                        </div>
                        <div class="card-body">
                            <li>{{comment.comment_content}}</li>
                        </div>
                        <div class="card-footer">
                            <h6><a href="#"><button class="btn btn-outline-success btn-sm"> <img src="https://summericeworld.files.wordpress.com/2015/06/smiley-face-clip-art-thumbs-up-clipart-two-thumbs-up-happy-smiley-emoticon-512x512-eec61.png" height="20px"></button></a>  <a href="#"><button class="btn btn-outline-warning btn-sm"> <img src="http://clipart-library.com/images/gTe5xoLpc.gif" height="20px"></button></a><h6>
                        </div>
                    </div>
                    <br>
                    <br>
                    {% endfor %}
                </div>
            </div>
    </div>
                    
</div>
{% endblock%}
    